In [1]:
import pandas as pd

In [4]:
#读取数据
data = pd.read_csv(r'C:\Users\ZCY\Desktop\file\ratings.csv')

In [12]:
data.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [5]:
#计算不同档的电影有多少部
for i in range(0, 5):
    number=data.loc[(data['rating'] <= i+1) & (data['rating'] > i)].movieId.count()
    print('(%d,%d]评分档电影有：%d部' %(i,i+1,number))

(0,1]评分档电影有：4181部
(1,2]评分档电影有：9342部
(2,3]评分档电影有：25597部
(3,4]评分档电影有：39954部
(4,5]评分档电影有：21762部

In [10]:
#添加一个comment列，对平均分4分以上的电影标‘推荐’，其他标‘不推荐’
data1=data.groupby(['movieId'],as_index=False)['rating'].agg({'avg_rating':'mean'})
data1.loc[:,'comment'] = data1.avg_rating.apply(lambda x: '不推荐' if x<=4 else '推荐')

In [13]:
data1.head()

   movieId  avg_rating comment
0        1    3.920930     不推荐
1        2    3.431818     不推荐
2        3    3.259615     不推荐
3        4    2.357143     不推荐
4        5    3.071429     不推荐

In [16]:
#保存数据
data1.to_csv(r'C:\Users\ZCY\Desktop\file\comments.csv',index=False,encoding="utf_8_sig")