In [1]:
import pandas as pd

## 1. 一共有多少不同的用户

In [12]:
#读取tags和ratings数据
tags = pd.read_csv(r'C:\Users\ZCY\Desktop\ml-25m\tags.csv')
ratings = pd.read_csv(r'C:\Users\ZCY\Desktop\ml-25m\ratings.csv')

In [26]:
data1 = tags['userId']
data2 = ratings['userId']
data3 = data1.append(data2)

In [29]:
data4 = data3.drop_duplicates()

In [30]:
len(data4)

162541

## 2. 一共有多少不同的电影

In [31]:
#读取movies数据
movies = pd.read_csv(r'C:\Users\ZCY\Desktop\ml-25m\movies.csv')

In [33]:
data5 = movies['movieId']
len(data5.drop_duplicates())

62423

## 3.一共有多少不同的电影种类

In [34]:
#取出电影种类字段
data6 = movies['genres']

In [46]:
temp_list=data6.str.split("|").tolist()
genre_list=list(set([i for j in temp_list for i in j ]))

In [50]:
len(genre_list)

20

## 4. 一共有多少电影没有外部链接

In [51]:
#读取links数据
links = pd.read_csv(r'C:\Users\ZCY\Desktop\ml-25m\links.csv')

In [52]:
len(data5.drop_duplicates())-len(links['movieId'].drop_duplicates())

0

In [64]:
##验证到底是不是0
result = movies[~ movies['movieId'].isin(links['movieId'])]
result

Empty DataFrame
Columns: [movieId, title, genres]
Index: []

In [63]:
len(result)

0

## 5. 2018年一共有多少人进行过电影评分

In [71]:
ratings = pd.read_csv(r'C:\Users\ZCY\Desktop\ml-25m\ratings.csv')

In [72]:
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

In [66]:
import time, datetime

In [73]:
def time2(stamp):  #转时间戳函数
    timeArray = time.localtime(stamp)
    otherStyleTime = time.strftime("%Y",timeArray)
    return otherStyleTime

In [74]:
ratings['timestamp']=ratings['timestamp'].apply(time2)

In [75]:
ratings.head()

   userId  movieId  rating timestamp
0       1      296     5.0      2006
1       1      306     3.5      2006
2       1      307     5.0      2006
3       1      665     5.0      2006
4       1      899     3.5      2006

In [78]:
df1=ratings[ratings.timestamp=='2018']

In [79]:
df1.head()

      userId  movieId  rating timestamp
6740      51       50     2.5      2018
9939      75        1     5.0      2018
9940      75        5     4.0      2018
9941      75        6     3.0      2018
9942      75       17     4.5      2018

In [81]:
len(df1.drop_duplicates(['userId']))

11999